*.aux
*.bak
*.bk
*.bcf
*.bfs
*.fls
*.fdb_latexmk
*.nav
*.run.xml
*.snm
*.log
*.out
*.sav
*.swp
*.glo
*.idx
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.xcf
*.mtc1
.~lock*
